<section class="profile clearfix">
  <section class='main'>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </section>
  <aside>
    <dl>
      <dt>Name</dt>
        <dd><%= @user.name %></dd>
      <dt>URL</dt>
        <dd><%= link_to user_path(@user), @user %></dd>
    </dl>
  </aside>
</section>

